/*Global CSS*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  /* max-width: 1158; */
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
}
/* Root CSS*/
:root {
  --Iris: #4d5ae5;
  --Cloud: #f4f4fd;
  --Navy-Blue: #2e2f42;
  --White: #fff;
  --Cornflower: #e7e9fc;
  --SLATE: #434455;
  --lightslate: #8e8f99;
  --ocean: #404bbf;

  /* Navigational links CSS */
}
.headerlinks {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding-left: 75px;
  padding-right: 75px;
  flex-wrap: wrap;
  border-bottom: 1px solid var(--Cornflower);
  height: 72px;
  gap: 322px;
}
.webstudio {
  text-decoration: none;
  font-weight: 800;
  font-family: 'raleway', sans-serif;
  padding-right: 38px;
  cursor: pointer;
}

.headerlinks-left .link {
  /*text decorations*/
  text-decoration: none;
  font-weight: bold;
  color: black;
  font-size: 16px;
  padding-right: 20px;
  padding-left: 20px;
}

.headerlinks-right .link2 {
  /*text decorations*/
  text-decoration: none;
  color: black;
  font-size: 16px;
  padding-right: 20px;
  padding-bottom: 20px;
}
.link:hover {
  color: gray;
}
.link2:hover {
  color: gray;
}
.link:active {
  color: var(--ocean);
  border-bottom: 5px solid var(--ocean);
  border-radius: 2px;
  width: 100%;
  display: inline-flex;
  padding-top: 20px;
  padding-bottom: 20px;
}
.link2:active {
  color: var(--ocean);
  border-bottom: 5px solid var(--ocean);
  border-radius: 2px;
  width: 100%;
  display: inline-flex;
  padding-top: 20px;
  padding-bottom: 20px;
}

.active {
  color: var(--ocean);
  border-bottom: 5px solid var(--ocean);
  border-radius: 2px;
  width: 100%;
  display: inline-flex;
  padding-top: 20px;
  padding-bottom: 20px;
}

.headerlinks-left {
  display: inline-block;
}

.headerlinks-right {
  display: inline-block;
}

/*nav mobile CSS*/


.link3{
  display: none;
}

.mobile-menu{
  display: none;
}

/* Title heading CSS */

.button:hover {
  background-color: var(--Iris);
  color: var(--Cloud);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.title {
  background-image: url('../Images/people_office.jpg');
  background-size: cover;
  position: relative;
  background-position: center;
  background-position-y: -160px;

  /**height: 500px;
  width: 115px;**/

  font-size: 40px;
  color: var(--Cloud);

  /* flex*/
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  font-weight: 900;
  flex-shrink: 0;

  /*margins and padding*/
  padding-top: 200px;
  padding-bottom: 200px;
}

.titleoverlay {
  background-color: rgba(46, 47, 66, 0.7);
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.button {
  z-index: 10;
}

.herotitle {
  border: 0;
  padding-bottom: 24px;
  z-index: 11;
}

.button {
  text-align: center;
  color: var(--SLATE);
  border-radius: 4px;
  cursor: pointer;
  font-family: Roboto;
  font-size: 16px;

  /*margins and padding*/
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 32px;
  padding-right: 32px;
  border: 4px;
}

/*Modal CSS*/
.backdrop {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 12;
}
.modal {
  width: 408px;
  height: 584px;
  background-color: white;
  border-radius: 4px;
  padding: 24px;
}
.is-hidden {
  pointer-events: none;
  opacity: 0;
}
.modal-close-btn {
  border-radius: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--Cornflower);
  width: 24px;
  height: 24px;
  color: var(--ocean);
  margin-left: auto;
  display: block;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}
.modal-close-btn:hover {
  fill: currentColor;
  border: 1px solid currentColor;
  background-color: var(--ocean);
  color: var(--Cornflower);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-header {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  margin-top: 24px;
  margin-bottom: 16px;
  /* Body Medium */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
}

.modal-label {
  color: var(--LIGHT-SLATE, #8e8f99);
  /* Small Text */
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px; /* 116.667% */
  letter-spacing: 0.48px;
}

.modal-input {
  color: var(--LIGHT-SLATE, #8e8f99);
  width: 360px;
  height: 40px;
  /* Small Text */
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px; /* 116.667% */
  letter-spacing: 0.48px;
  padding-left: 36px;
  border-radius: 4px;
  border: 1px solid var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.4));
  transition: 250ms;
  transition-property: color, border-color, background-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textbox {
  color: var(--LIGHT-SLATE, #8e8f99);
  width: 360px;
  height: 100px;
  /* Small Text */
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px; /* 116.667% */
  letter-spacing: 0.48px;
  padding: 8px 8px;
  border-radius: 4px;
  border: 1px solid var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.4));
}

textarea {
  resize: none;
}

.modal-checkbox {
  width: 16px;
  height: 16px;
}

.modal-checkboxcontainer {
  display: flex;
  gap: 8px;
  padding-top: 8px;
}
.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-iconname {
  position: relative;
  top: -30px;
  left: 10px;
}

.modal-iconphone {
  position: relative;
  top: -30px;
  left: 10px;
}

.modal-iconemail {
  position: relative;
  top: -30px;
  left: 10px;
}
.modal-sendbutton {
  color: var(--Cornflower);
  border-radius: 4px;
  cursor: pointer;
  font-family: Roboto;
  font-size: 16px;
  position: relative;
  top: 20px;
  left: 95px;

  /*margins and padding*/
  padding: 16px 32px;
  border: 4px;
  background-color: var(--Iris);
  width: 169px;
  height: 56px;

  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.modal-sendbutton:active {
  border: 1px solid currentColor;
  background-color: var(--ocean);
  color: var(--Cornflower);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-sendbutton:hover {
  cursor: pointer;
}

.modal-container {
  margin: 8px 0px;
}
/*modal checkbox*/

.service-agree {
  display: flex;
  align-items: center;
  justify-content: center;
}
.agree-checkbox {
  width: 20px;
  height: 20px;
  position: relative;
  left: 18px;
  opacity: 0;
}

.agree-check-icon {
  fill: none;
  margin-right: 8px;
  border: 2px solid black;
  border-radius: 2px;
  transition: 250ms;
  transition-property: color, border-color, background-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.service-agree .agree-checkbox:focus + .agree-check-icon,
.service-agree .agree-checkbox:checked:focus + .agree-check-icon {
  outline: 2px solid #212121;
}

.service-agree .agree-checkbox:checked + .agree-check-icon {
  background-color: var(--Iris);
  border-color: var(--Iris);
  fill: white;
  outline: none;
  stroke: white;
  stroke-width: 0.2;
  visibility: visible;
}

.agree-text {
  color: var(--LIGHT-SLATE, #8e8f99);
  /* Small Text */
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px; /* 116.667% */
  letter-spacing: 0.48px;
}

/*modal psuedoelements*/
.modal-input:focus + .modal-iconname,
.modal-input:hover + .modal-iconname {
  fill: var(--Iris);
  transition: 250ms;
  transition-property: color, border-color, background-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus + .modal-iconphone,
.modal-input:hover + .modal-iconphone {
  fill: var(--Iris);
  transition: 250ms;
  transition-property: color, border-color, background-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus + .modal-iconemail,
.modal-input:hover + .modal-iconemail {
  fill: var(--Iris);
  transition: 250ms;
  transition-property: color, border-color, background-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:hover {
  border-radius: 4px;
  border: 1px solid var(--Iris-modal, rgba(85, 92, 228, 0.825));
  transition: 250ms;
  transition-property: color, border-color, background-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textbox:hover::placeholder {
  color: var(--Iris);
  transition: 250ms;
  transition-property: color, border-color, background-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-textbox:hover {
  border-radius: 4px;
  border: 1px solid var(--Iris-modal, rgba(85, 92, 228, 0.825));
  transition: 250ms;
  transition-property: color, border-color, background-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  border-radius: 4px;
  border: 1px solid var(--Iris-modal, rgba(85, 92, 228, 0.825));
  transition: 250ms;
  transition-property: color, border-color, background-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* Main CSS */
.advantages_section {
  margin-top: 60px;
  margin-bottom: 60px;
}
body {
  font-family: 'Roboto', sans-serif;
  color: var(--SLATE);
  margin-left: 100px;
  margin-right: 100px;
}
ul {
  list-style-type: none;
}
li {
  list-style-type: none;
}

h2 {
  color: var(--Navy-Blue);
}

/* Content1 CSS */

.content1 {
  /*flex and alignment*/
  display: flex;
  justify-content: center;
  gap: 24px;
  
  flex-wrap: wrap;
}

.content1-iconcontainer {
  background-color: var(--Cloud);
  padding: 24px 100px;
  text-align: center;
  margin-bottom: 8px;
  border-radius: 4px;
}

.content1-iconcontainer:hover {
  box-shadow: 5px 5px 5px 5px gray;
  transform: scale(0.75);
}
.content1-iconcontainer:active {
  background: linear-gradient(to bottom, #fff 0%, var(--lightslate) 100%);
}

.content1details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 8px 8px;
  font-size: 16px;
  font-family: 'roboto', sans-serif;
  gap: 24px;
  width: 264px;
  flex-wrap: wrap;
}

.content1details h3 {
  margin-bottom: 8px;
}

/* Content2 CSS */
.content2title {
  text-align: center;
}
.content2images {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.images {
  margin: 12px;
  border: 1px solid var(--Cornflower);
}

/* Content3 CSS */

.content3 {
  background-color: var(--Cloud);
  text-align: center;
  padding-left: 50px;
  padding-right: 50px;

 

}
.content3container{
  display: flex;
  justify-content: center;
  gap:8px;
  flex-wrap: wrap;
}
.content3profiles {
  /*design*/
  background-color: var(--White);
  border-radius: 0px 0px 4px 4px;
  background: var(--WHITE, #fff);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);

  /*flex and alignment*/
  display: inline-flex;
  align-items: baseline;
  flex-direction: column;
  justify-content: center;
  flex-wrap:wrap;

  /*paddings and margins*/
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 120px;
}

.content3title {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 72px;
}

.content3details {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  padding: 32px 32px 0px 32px;
  gap: 8px;
  flex-wrap:wrap;
}

/*Content 4 CSS*/

.content4title {
  text-align: center;
  margin-bottom: 72px;
  margin-top: 120px;
}

.customers {
  display: inline-flex;
  flex-direction: row;
  border: 1px solid var(--lightslate);
  padding: 16px 24px;
  border-radius: 4px;
  margin: 0px 12px 120px 12px;
}

.customers:hover {
  box-shadow: 1px 1px 1px 1px gray;
  transform: scale(0.75);
}

.content4icons {
  display: flex;
  justify-content: center;
  gap: 8px;
  flex-wrap: wrap;
}

.customer-logo {
  fill: var(--lightslate);
}

/*footer CSS*/

.footer {
  background-color: var(--Navy-Blue);
  padding-top: 75px;
  padding-bottom: 75px;

  display: flex;
  justify-content: center;
  gap: 124px;
}

.footer .webstudio {
  text-decoration: none;
  font-weight: 800;
  font-family: 'raleway', sans-serif;
}

.footerdetails {
  color: var(--Cloud);
  font-size: 14px;
  margin-top: 16px;
}

.footerlabel {
  color: var(--Cloud);
  font-size: 16px;
}

/*Icons for footer and content 3 CSS*/

.footer-icon {
  display: inline-block;
  padding: 5px;
  background-color: var(--Iris);
  border-radius: 50%;
  margin-top: 15px;
  margin-right: 8px;
}
.footercontainer1{
  display:flex;
  flex-direction: row;}

.footer-icon:active {
  background: linear-gradient(
    to bottom,

    var(--lightslate) 0%,
    var(--Iris) 100%
  );
}

.footer-icon:hover {
  transform: scale(1.5);
}

div .teamsocialicons {
  margin-bottom: 32px;
}
div .team-icon {
  display: inline-block;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  padding: 5px;
  background-color: var(--Iris);
  border-radius: 50%;
  margin-top: 15px;
  margin-right: 8px;
}

.teamsocialicons {
  margin: auto;
}

.iconsocmed {
  fill: white;
  display: flex;
  justify-content: flex-start;
}

.team-icon:hover {
  transform: scale(1.5);
  background: var(--Iris);
}

.team-icon:active {
  background: linear-gradient(
    to bottom,
    var(--lightslate) 0%,
    var(--Iris) 100%
  );
}

.footer-button {
  display: inline-flex;
  background: var(--Iris);
  color: var(--Cornflower);
  padding: 4px 24px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  border-radius: 4px;
  margin: 0 24px;
  /* Button Text */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.64px;
}

.icon-form {
  fill: var(--Cornflower);
}

.footer-input {
  padding: 4px 50px 4px 16px;
  margin-top: 16px;
  justify-content: center;
  color: var(--WHITE, #fff);
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 200% */
  letter-spacing: 0.48px;
  border-radius: 4px;
  border: 1px solid var(--WHITE, #fff);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  background: var(--NAVY-BLUE, #2e2f42);
}

.footer-input:active {
  padding: 4px 50px 4px 16px;
  margin-top: 16px;
  justify-content: center;
  color: var(--WHITE, #fff);
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 200% */
  letter-spacing: 0.48px;
  border-radius: 4px;
  border: 1px solid var(--WHITE, #fff);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  background: var(--NAVY-BLUE, #2e2f42);
}

.footer-input::placeholder {
  color: var(--WHITE, #fff);
}

/*** PORTFOLIO PAGE STYLES ***/

/* Portfolio main Css*/

.portfoliofilter {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-right: 20px;
  margin-left: 20px;
  flex-wrap: wrap;
  margin-top: 50px;
}

.portfoliobuttons {
  padding: 12px 24px;
  margin: 12px;
  color: var(--IRIS, #4d5ae5);
  text-align: center;
  border-radius: 4px;
  border: 1px solid var(--CORNFLOWER, #e7e9fc);
  background: var(--CLOUD, #f4f4fd);

  /* Button Text */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.64px;
}

.portfoliobuttons:hover {
  background-color: var(--Iris);
  color: var(--Cloud);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.portfolioimagesection {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 100px;
}
.portfoliocontainer {
  display: inline-flex;
  justify-content: center;
}

.portfoliodetails {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin: 8px 8px 32px;

  border: 1px solid var(--Cornflower);
  text-align: left;
  overflow: hidden;
}

.portfoliotext {
  padding-inline-start: 16px;
  padding-top: 32px;
  padding-bottom: 32px;
}

/*Portfolio pseudo-class*/

.portfoliodetails:hover {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

/*portfolio image setting in HMW5*/
.portfolio-imagecaption {
  position: absolute;
  background-color: var(--IRIS, #4d5ae5);
  color: white;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transform: translateY(
    100%
  ); /*manipulates y axis of overlay to go 100% below*/

  transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-imagecaption p {
  padding: 40px 32px;

  /*font style*/
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
}

.portfolio-image {
  position: relative;
  overflow: hidden;
}

.portfolio-image img {
  display: block;
  width: 100%;
}

.portfoliodetails:hover .portfolio-imagecaption {
  opacity: 0.9;
  transform: translateY(0);
}
/*Tablet Css*/
@media only screen and (min-width: 768px) and (max-width: 1157px) {
  
  .container{
    margin:auto;
  }
  .mobile-menu{
    display: none;
  }

  .headerlinks {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    padding-left: 75px;
    padding-right: 75px;
    flex-wrap: wrap;
    border-bottom: 1px solid var(--Cornflower);
    height: 72px;
    gap: 75px;
  }
  .link2{
    display: flex;
    flex-direction: column;
    
  }
  .logo{
    padding-right: 45px;
  }

.title {
  background-image: url('../Images/people_office.jpg');
  background-size: cover;
  position: relative;
  background-position: center;}

  .content1-iconcontainer {
    display: none;
  }
  .content1, .content1details {
    flex-basis: calc(100% / 2 - 30px);
    margin: 0;
  }
  .content1labels{
    font-size: 24px;
  }

  .content2 {
    display: none;
  }

 
 .content3container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  }



  .content4icons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
   
  }

  .customers{
    margin-bottom: 72px;
  }
  .footer-inner {
    display: flex;
    gap: 24px;
    justify-content: center;
  }
 .footer{
  
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  row-gap: 75px;
  column-gap: 24px;
 }

.footer-form{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  column-gap: 40px;
  margin: 0;
}

.footer-button{
  margin: 0;}

}  
.container{
  padding: 0;
  margin: auto;
}
.footercontainer1{
display: flex;
    flex-direction: row;
    gap: 24px;
   
  }
/* mobile css*/

@media only screen and (max-width: 767px) {
  /*mobile Navlink*/
.link1,.link2  {
    display: none;
  }

  
.headerlinks-left {
text-align: left;
  }
  .link3{
   display: flex;
   justify-content: flex-end;
  }

  .button-burger{
    border: none;
  }

.modal-label{
  text-align: left;
}
.modal-iconname {
  position: relative;
  top: -30px;
    left: 10px;
}

.modal-iconphone {
  position: relative;
  top: -30px;
    left: 10px;
}

.modal-iconemail {
  position: relative;
  top: -30px;
    left: 10px;
}
.modal-sendbutton {
  color: var(--Cornflower);
  border-radius: 4px;
  cursor: pointer;
  font-family: Roboto;
  font-size: 16px;
  position: relative;
  top: 20px;
left:-5px;
}
 .headerlinks {

  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  padding-left: 15px;
  padding-right: 15px;
  border-bottom: 1px solid var(--Cornflower);
  height: 72px;
  gap: 50px;
 
  flex-wrap: nowrap;
  }

  .mobile-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 15px;
  }
  
  .mobile-menu-container {
    position: relative;
    height: 100%;
    padding: 40px;
    
  }
  
  .mobile-menu {
    display: none;
    position: relative;
    z-index: 9000;
  }
  
  .mobile-links {
    list-style-type: none;
  }
  
  .mobile-link {
    font-size: 36px;
    text-decoration: none;
    font-weight: 700;
    color: var(--navyblue);
    margin-bottom: 40px;
    display: inline-block;
  }
  
  .mobile-contact {
    color: var(--navyblue);
    text-decoration: none;
    display: inline-block;
    margin-bottom: 48px;
  }
  
  .mobile-link.mobile-active {
    color: var(--ocean);
  }

  .footer-button{
  margin: 0 50px;
  padding: 4px 32px;
  }

  
  /*mobile title*/

  .title {
    background-image: url('../Images/people_office.jpg');
    background-size: cover;
    position: relative;
    background-position: center;

    font-size: 40px;
    color: var(--Cloud);

    /* flex*/
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-weight: 900;
    flex-shrink: 0;

    /*margins and padding*/
    padding-top: 200px;
    padding-bottom: 200px;

    color: var(--WHITE, #fff);
    text-align: center;
    /* Header 2 */
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px; /* 111.111% */
    letter-spacing: 0.72px;
    text-transform: capitalize;
  }

  .titleoverlay {
    background-color: rgba(46, 47, 66, 0.7);
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
  }

  /*mobile Content1*/
  .content1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:0;
    
  }

  .content1details {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 8px;
  }

  .content1-iconcontainer {
    display: none;
  }
  .content1labels h3 {
    display: flex;
    align-self: stretch;

    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 111.111% */
    letter-spacing: 0.72px;
    text-transform: capitalize;
  }

  /*mobile Content2*/
  .content2 {
    display: none;
  }
/*mobile content3*/

.content3container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.content3profiles{

display: flex;
flex-direction: column;
margin-bottom: 72px;

}
  /*mobile content4*/
  div.content4icons {
display: flex;
flex-direction: row;
  }

.customercontainer1, .customercontainer2{
  display: flex;
  flex-direction: column;
  align-items:center;
  flex-wrap: wrap;
}
  .customers {
    margin: 36px 8px;
    
  }

  /*mobile footer*/
  .footer-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 72px;
  }

  form.footer-form {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 15px;
  }

  .footer-button {
    margin: 0 100px;
  }

  .footer-input {
    margin: 8px 15px 8px 15px;
  }
  .webstudio {
    padding: 0;
  }
  .footercontainer1{
    display: flex;
    flex-direction: column;
    justify-content: center;
      gap: 24px;
       
}


/*desktop css*/
@media only screen and (min-width: 1158px) {
 
  .mobile-menu{
    display: none;
  }
}
